/* General setup */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* Variables */
:root {
  --main-colour: rgba(30, 166, 203, 255);
  --secondary-colour: rgba(249, 249, 249, 255);
  --tertiary-colour: rgba(71, 139, 187, 255);
  --primary-font: "Work Sans", sans-serif;
  /* --secondary-font: ; */
  --primary-font-colour: black;
  --secondary-font-colour: grey;
  --tertiary-font-colour: white;
  --primary-font-size: 1rem;
  --secondary-font-size: 2rem;
}
/*Body*/
body {
  background-color: var(--secondary-colour);
}
/*Header*/
header li {
  list-style: none;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header {
  padding: 2% 3%;
}
header h1 {
  font-weight: 100;
  font-size: var(--secondary-font-size);
}
.youAreHere {
  color: var(--tertiary-colour);
}
header button {
  border: 1px solid var(--main-colour);
  color: var(--main-colour);
  background-color: var(--secondary-colour);
  border-radius: 0.3rem;
  padding: 0% 0.5%;
}
header button:hover {
  box-shadow: 0 0 1rem #a7a7a7;
  text-shadow: 0 0 1rem #a7a7a7;
}
/*Main*/
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
  justify-content: space-around;
  font-size: var(--primary-font-size);
}
main p {
  color: var(--secondary-font-colour);
}
img {
  max-width: 100%;
}
/*Footer*/
footer {
  text-align: center;
  padding: 2%;
  border-top: 1px solid#a7a7a7;
}

/*Media quaries*/
@supports (display: grid) {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1101px) {
  }
}
