/* General setup */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* Variables */
:root {
  --main-colour: rgba(30, 166, 203, 255);
  --secondary-colour: rgba(249, 249, 249, 255);
  --tertiary-colour: rgba(63, 116, 148, 255);
  --primary-font: "Work Sans", sans-serif;
  /* --secondary-font: ; */
  --primary-font-colour: black;
  --secondary-font-colour: grey;
  --tertiary-font-colour: white;
  --primary-font-size: 1.2vw;
  --secondary-font-size: 1vw;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 1rem;
}
img {
  max-width: 100%;
}
